CBE/survey-platform/Core/Prezza.Licensing/Web References/ExternalActivationServer/activationserver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.xheo.com/licensing/activation" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.xheo.com/licensing/activation" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.xheo.com/licensing/activation">
      <s:element name="Activate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenseXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keys" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileHash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LicenseCultureSoapHeader" type="s0:LicenseCultureSoapHeader" />
      <s:complexType name="LicenseCultureSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CultureName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="ActivateSoapIn">
    <part name="parameters" element="s0:Activate" />
  </message>
  <message name="ActivateSoapOut">
    <part name="parameters" element="s0:ActivateResponse" />
  </message>
  <message name="ActivateLicenseCultureSoapHeader">
    <part name="LicenseCultureSoapHeader" element="s0:LicenseCultureSoapHeader" />
  </message>
  <portType name="Xheo.Licensing_x0020_Activation_x0020_ServerSoap">
    <operation name="Activate">
      <documentation>Activates a previously issued license.</documentation>
      <input message="s0:ActivateSoapIn" />
      <output message="s0:ActivateSoapOut" />
    </operation>
  </portType>
  <binding name="Xheo.Licensing_x0020_Activation_x0020_ServerSoap" type="s0:Xheo.Licensing_x0020_Activation_x0020_ServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Activate">
      <soap:operation soapAction="http://www.xheo.com/licensing/activation/Activate" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:ActivateLicenseCultureSoapHeader" part="LicenseCultureSoapHeader" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="s0:ActivateLicenseCultureSoapHeader" part="LicenseCultureSoapHeader" use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Xheo.Licensing_x0020_Activation_x0020_Server">
    <documentation>Licensing activation service for the XHEO|Licensing package.</documentation>
    <port name="Xheo.Licensing_x0020_Activation_x0020_ServerSoap" binding="s0:Xheo.Licensing_x0020_Activation_x0020_ServerSoap">
      <soap:address location="http://www.xheo.local/activationserver.asmx" />
    </port>
  </service>
</definitions>